anslynwines.ipynb
5wines0720.*
anslynwines-kmeanscluster.ipynb
anslynwines-kmeanscluster2-4.ipynb
anslynwines-kmeanscluster2-5.ipynb
anslynwines-kmeanscluster-3clusters.ipynb
anslynwines-onezinfandelpca.ipynb
pca_iris.ipynb
